<div class="header">
  <div class="banner">
    <p class="title">
      Book a demo today and get two weeks for
      <span class="highlight">free</span>. Why?
    </p>
    <p class="subtitle">
      Because Our AI-Powered Software Will Exceed Your Marketing Goals.
    </p>

    <div class="artboardArea">
      <img class="artboard" src="assets/images/Artboard 1.png" />
      <img class="repeat-grid" src="assets/images/Repeat Grid 2.svg" />

      <div class="ellipses">
        <img class="ellipse1" src="assets/images/Ellipse 9.svg" />
        <img class="ellipse2" src="assets/images/Ellipse 10.svg" />
        <img class="ellipse3" src="assets/images/Ellipse 11.svg" />
        <img class="ellipse4" src="assets/images/Ellipse 8.svg" />
      </div>
    </div>
  </div>

  <div class="form-area">
    <div>
      <div class="head-text">
        <p class="title">
          Book a demo today and get two weeks for
          <span class="highlight">free</span>. Why?
        </p>
        <p class="subtitle">
          Because Our AI-Powered Software Will Exceed Your Marketing Goals.
        </p>
      </div>

      <app-trial-form></app-trial-form>
    </div>
    <img class="repeat-grid" src="assets/images/Repeat Grid 2.svg" />
  </div>
</div>
