<div class="container">
  <p>Copyright © 2020. All Rights Reserved.</p>

  <ul class="nav-links">
    <li>
      <a href="#">
        <p>HOME</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>FEATURES</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>TERMS</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>PRIVACY</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p>CONTACT US</p>
      </a>
    </li>
  </ul>

  <div>
    <ul>
      <li>
        <a href="#">
          <mat-icon
            svgIcon="facebook-icon"
            aria-hidden="false"
            aria-label="facebook"
          ></mat-icon>
        </a>
      </li>

      <li>
        <a href="#">
          <mat-icon
            svgIcon="instagram-icon"
            aria-hidden="false"
            aria-label="instagram"
          ></mat-icon>
        </a>
      </li>

      <li>
        <a href="#">
          <mat-icon
            svgIcon="twitter-icon"
            aria-hidden="false"
            aria-label="twitter"
          ></mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
