.container {
  background: #595957;
  display: grid;
  grid-template-areas: "'copy copy' 'links icon";
  // grid-template-columns: 1fr auto;
  // grid-template-columns: 1fr auto auto;
  padding: 20px 5%;
  color: #ffffff;
  min-height: 92px;
  align-items: center;
  column-gap: 20px;

  @media (min-width: 768px) {
    grid-template-areas: "";
    grid-template-columns: 1fr auto auto;
  }

  .copy {
    grid-area: "copy";
  }

  .icon {
    grid-area: icon;
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;

    li {
      list-style: none;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }

    &.nav-links {
      margin-top: 30px;
      grid-area: "links";
      padding: 0;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      li {
        margin-right: 70px;
      }
    }
  }
}
