<div class="container">
  <p class="mat-display-1">
    The <span class="highlighted">Benefits </span> of using Filed
  </p>

  <div class="benefits-list">
    <div class="list">
      <img src="/assets/images/check.svg" alt="" />
      <p>Ability to scale using Dexter, our AI-powered marketing genius.</p>
    </div>

    <div class="list">
      <img src="/assets/images/check.svg" alt="" />
      <p>
        Client Success Manager who will optimize your Facebook ad campaigns and
        focus on driving the best possible results for you.
      </p>
    </div>

    <div class="list">
      <img src="/assets/images/check.svg" alt="" />
      <p>This is a limited time offer only.</p>
    </div>
  </div>
</div>
