.container {
  background-image: url("/assets/images/offerbg.svg");
  min-height: 431px;
  padding: 0 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    background-position: center;
  }

  .offer-text {
    text-align: center;
    color: #38CCF5;
  }
}
