<div class="content">
  <button mat-raised-button color="primary" routerLink="/trial">
    Get Trial
  </button>

  <div *ngIf="details">
    <p class="mat-h1">Customer Details</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>First name</td>
          <td>Last name</td>
          <td>email</td>
          <td>Monthly Advertising Budget</td>
          <td>phone</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of details | async">
          <td>{{ product.firstName }}</td>
          <td>{{ product.lastName }}</td>
          <td>{{ product.email }}</td>
          <td>{{ product.monthlyAdBudget }}</td>
          <td>{{ product.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
